.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vs/*
build/*
CyberXEngine.exe
#SDL2.dll

# binaries and libs
*.so
*.dylib
*.dll
*.a
*.ex

# qt creator project files
*.pro
*.user

# directories

*build
*CMakeFiles
*Testing

# misc
*.DS_Store
*CMakeCache.txt
